
.hero-section {
    height: 99vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: #00f7ff;
}

.hero-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    gap:2rem;
    text-align: center;
    
    background-image: url('../assets/images/bg-image-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    margin-left: 5rem;
}

.hero-content h1 {
    font-size: 3rem;
    color: #555879;
}

.hero-content p {
    font-size: 1.25rem;
    margin-top: 1rem;
    color: #555879;
    max-width: 600px;
}

.hero-content button {
    border: 1px solid #555879;
    margin-top: 2rem;
    border-radius: 10px;
    padding: 0.3rem 2rem;
    font-size: 20px;
    transition: color 0.3s ease, background-color 0.2s linear;
}

.hero-content button:hover {
    color:white;
    background-color: #555879;
}

@media(max-width:912px){

    .hero-main{
        justify-content: center;
    }

    .hero-content {
        margin-left: 0;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-content button {
        margin-top: 3rem;
    }

}
